body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f2f4f8;
}

.main{
margin-left:260px;
padding:40px 60px;
}

/* HEADER */
.header{
background:#0a3a75;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;

}

.logo {
  float: left;
  padding: 6px 20px;
  width: auto;
  height: 60px;
}

.menu a{
color:white;
margin-left:25px;
text-decoration:none;
font-size:14px;
}

/* TITULO */
.hero{
background:#0a3a75;
color:white;
padding:30px 60px;
}

/* LAYOUT */
.container{
    margin-top: 60px; /* Alto del menú superior */
    margin-left: 200px; /* Ancho del menú lateral [5] */
    padding: 20px;
gap:30px;
}

/* SIDEBAR */
.sidebar{
position:fixed;
left:0;
top:0;
width:260px;
height:100%;
background:#eff0f3;
color:#0a3a75;
padding-top:30px;
}

.sidebar ul{
list-style:none;
padding:0;
margin:0;
}

.sidebar li{
padding:12px;
border-bottom:1px solid #eee;
cursor:pointer;
}

.sidebar li:hover{
background:#f1f5ff;
}

/* CONTENIDO */
.content{
width:75%;
}

.content h2{
color:#0a3a75;
}

.nav-link-active1
{
  color:#0a3a75;; /* Color destacado */
  font-weight: bold;
  border-bottom: 2px solid #e7e6f5; /* O subrayado */
}

/* TARJETAS */
.cards{
display:flex;
gap:25px;
margin-top:30px;
flex-wrap:wrap;
}

.card{
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
width:48%;
}

.card-body1{
background:white;
border-radius:1px;
overflow:hidden;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
width:130%;
}

/* IMAGEN */
.card img{
width:100%;
height:200px;
object-fit:cover;
}

/* CONTENIDO TARJETA */
.card-body{
padding:20px;
}
.card-body1{
padding:10px;
}
.card-body h3{
color:#0a3a75;
margin-top:0;
}

.card button{
background:#0a3a75;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

.card button:hover{
background:#1168d2;
}

.card1 button{
background:#0a3a75;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

.card1 button:hover{
background:#1168d2;
}

/* FOOTER */
.footer{
background:#0a3a75;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}

.sub{
  background-color:hsla(9, 100%, 64%, 0.305);
}

.sub:hover{
background:#c4d5ff;
}

.testbtn {
   background-color: #04AA6D;
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.testbtn:hover{
background:#739afc;
}